* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: rgb(51, 163, 233) 2px solid;

}

.App {
  background-color: #252323;
  min-height: 100vh;
  padding-top: 1px;
  overflow: hidden;
  width: 100vw;
}

button{
  cursor: pointer;
}

button:hover{
  scale: 1.1;
}

div {
  border-radius: 5px;
}





